@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Roboto", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-customGray: #2f3136;
  --color-customCrimson: #8a2b2b;
  --color-hoverRed: #a60f2d;

  --animation-fade: 1s;
}

/* Add this to your index.css */
@layer base {
  body {
    @apply to-customCrimson min-h-screen bg-gradient-to-br from-black bg-fixed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Create animation utility classes */
@layer utilities {
  .animate-fade-in {
    animation: fadeIn var(--animation-fade) ease-out forwards;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }
}
